.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #41C4E9;
    margin: 0px auto;
    padding: 20px 0px;
}

.jumbotron {
    padding: 70px 30px;
    margin: 0px auto;
    background: #4dd1a9;
    color: blueviolet
}

.address {
    font-size: 80%;
    margin: 0px;
    color: black;
}