body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: rgb(206, 10, 10);
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: rgb(156, 16, 6);
    color: aliceblue;
    margin: 0px auto;
    padding: 20px 0px;
}

.jumbotron {
    padding: 70px 30px;
    margin: 0px auto;
    background: #ff2020;
    color: rgb(238, 241, 241)
}

.address {
    font-size: 80%;
    margin: 0px;
    color: black;
}